<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/Auth/css/style.css">
</head>
<body>
>

<form method="post" action="/Auth/LoginInner" class="login">
    <p>
        <label for="login">Логин:</label>
        <input type="text" name="Email" id="login" value="name@example.com">
    </p>

    <p>
        <label for="password">Пароль:</label>
        <input type="password" name="Password" id="password" value="4815162342">
    </p>

    <p class="login-submit">
        <button type="submit" class="login-button">Войти</button>
    </p>
</form>
</body>
</html>